.hero{
  margin-left: 0;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2.5em;
}
.hero h1 {
  color: #efc92d;
  font-size: 1.6em;
  text-align: center;
  margin: 2em 0 0.5em 0;
}

.dot-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  margin: 0 0 1.5em 0; 
}

.dot-line span {
  width: 40px;
  height: 2px;
  background: #e5e5e5;
}


.dot {
  width: 16px;
  height: 16px;
  background: #ff5a3c;
  border-radius: 50%;
}

.hero__content p{
  line-height: 1.5;
  padding: 0.5em 0 0 0;
  margin-left: 5em;
  margin-right: 5em;
  text-align: left;
}

@media screen and (max-width: 968px) {
  .hero{
    padding: 0 1.4em;
  }

  .hero h1{
    font-size: 1.4em;
    margin-top: 1.5em;
    text-align: center;
  }

  .hero__content p{
    padding: 0.9em;
  }
  .dot-line{
    margin-bottom: 1.6em;
    justify-content: center;
  }

}